Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: end-of-file-fixer
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: check-yaml
        exclude: '.github/workflows/.*'
    -   id: check-added-large-files
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
           "--rcfile=tests/.pylintrc"
          ]
        exclude: 'data/.*|docs/.*|_deps/.*' #|src/ready/.*|tests/.*'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: 'src/ready/.*|tests/.*'
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [ text ]
        exclude: 'data/.*|docs/.*'

few minor changes from training from training model at cricket server
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

adds details to copying files from server to local host
  docs/cricket/README.md
Due: none

adds src/ready/apis/convert_to_onnx_and_simplify_it.py and refactors inference_mobious.py with arguments, docstring and cosmetic changes
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/sim_onnx.py
Due: pylint, isort, codespell

adds src/ready/apis/convert_to_onnx_and_simplify_it.py and refactors inference_mobious.py with arguments, docstring and cosmetic changes
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/inference_mobious.py
Due: pylint, isort, codespell

updates main figure and data/mobious/models/README.md
  data/mobious/models/README.md
  docs/figs/inference_mobious__weights_10-09-24_03-46-29.png
  docs/figs/inference_mobious__weights_10-09-24_06-35-14.png
  docs/figs/ready.svg
Due: none

Add flip and rotate augmentations (#47)
  .github/pull_request_template.md
  .gitignore
  CONTRIBUTING.md
  data/mobious/models/README.md
  docs/cricket/README.md
  docs/figs/inference_mobious__weights_10-09-24_03-46-29.png
  docs/figs/inference_mobious__weights_10-09-24_06-35-14.png
  docs/figs/ready.svg
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/inference_mobious.py
  src/ready/apis/sim_onnx.py
  src/ready/apis/train_mobious.py
  src/ready/utils/datasets.py
  src/ready/utils/metrics.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

adds crop and scale video using ffmpeg in the bashes and tested api with cropped videos
  data/bash-scripts/mp4_to_gxf.bash
  data/bash-scripts/process_videos_with_ffmpeg.bash
  data/novel/videos/README.md
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

improves video conversion bashes:`process_videos_with_ffmpeg.bash`,addings videolink,starttime,durationframe,cutstring; test reapy.py with models #4
  data/bash-scripts/mp4_to_gxf.bash
  data/bash-scripts/process_videos_with_ffmpeg.bash
  data/novel/videos/README.md
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

notes and todos from training _weights_14-12-24_08-00-06_100epochs_at_a100_80gb
  README.md
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

saving models at FULL_DATA_PATH instead of GITHUB_PATH and other minor changes
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

adds path and model arguments for graph_surgeon.py; adds dependnecies in bash for holohub-utils
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
Due: codespell

4 - test videos from novel by daniel gold (#61)
  README.md
  data/bash-scripts/mp4_to_gxf.bash
  data/bash-scripts/process_videos_with_ffmpeg.bash
  data/mobious/models/README.md
  data/novel/videos/README.md
  docs/cricket/README.md
  docs/figs/inference_mobious_2models.svg
  docs/figs/inference_mobious__weights_10-09-24_06-35-14.png
  docs/figs/inference_mobious_weights_14-12-24_19-25-26.png
  docs/figs/losses_for_TRAINe100-80gbGPU.png
  docs/holoscan/apis.md
  docs/models/README.md
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/holoscan/ready/python/ready.py
  src/ready/apis/holoscan/utils/graph_surgeon.py
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
  src/ready/apis/inference_mobious.py
  src/ready/apis/plot_losses.py
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

refactor src/ready/apis/train_mobious.py to use configs and scripts #27; passed pre-commit hooks
  README.md
  configs/config_train_unet_with_mobious.yaml
  data/README.md
  data/bash-scripts/conver_grayscale_to_rgb.bash
  data/bash-scripts/frames_to_mp4_to_gxf.bash
  data/bash-scripts/multi_frames_to_mp4_to_gxf.bash
  data/bash-scripts/resize_mobious_dataset.bash
  docs/README.md
  pyproject.toml
  scripts/models/train_unet_with_mobious.bash
  src/ready/apis/plot_losses.py
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

refactors src/ready/apis/inference_mobious.py to use scripts and configs; #27 passed pre-commit hooks
  configs/config_inference_unet_with_mobious.yaml
  configs/config_train_unet_with_mobious.yaml
  data/mobious/models/README.md
  scripts/models/inference_unet_with_mobious.bash
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/inference_mobious.py
Due: pylint, isort, codespell

reorganise config files in their respective path #27
  configs/config_inference_unet_with_mobious.yaml
  configs/models/unet/config_inference_unet_with_mobious.yaml
  configs/models/unet/config_train_unet_with_mobious.yaml
  scripts/models/inference_unet_with_mobious.bash
  scripts/models/train_unet_with_mobious.bash
Due: codespell

adds scripts and configs for src/ready/apis/convert_to_onnx_and_simplify_it.py #27; passed pre-commit hooks
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  configs/models/unet/config_inference_unet_with_mobious.yaml
  data/mobious/models/README.md
  scripts/models/convert_to_onnx_and_simplify_it.bash
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/inference_mobious.py
Due: pylint, isort, codespell

adds other variables in config file for src/ready/apis/convert_to_onnx_and_simplify_it.py #27
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  scripts/models/convert_to_onnx_and_simplify_it.bash
  src/ready/apis/convert_to_onnx_and_simplify_it.py
Due: pylint, isort, codespell

27 - configs and scripts to train and test inference of UNET with mobious (#62)
  README.md
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  configs/models/unet/config_inference_unet_with_mobious.yaml
  configs/models/unet/config_train_unet_with_mobious.yaml
  data/README.md
  data/bash-scripts/conver_grayscale_to_rgb.bash
  data/bash-scripts/frames_to_mp4_to_gxf.bash
  data/bash-scripts/multi_frames_to_mp4_to_gxf.bash
  data/bash-scripts/resize_mobious_dataset.bash
  data/mobious/models/README.md
  docs/README.md
  pyproject.toml
  scripts/models/convert_to_onnx_and_simplify_it.bash
  scripts/models/inference_unet_with_mobious.bash
  scripts/models/train_unet_with_mobious.bash
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/inference_mobious.py
  src/ready/apis/plot_losses.py
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

updates PR sync instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Due: codespell

adds data/bash-scripts/download_and_process_welgampola_videos.bash #4
  data/bash-scripts/download_and_process_welgampola_videos.bash
  data/benign-positional-vertigo/README.md
Due: none

refactor data/bash-scripts/mp4_to_gxf.bash to save files outside repo #51
  data/bash-scripts/mp4_to_gxf.bash
  data/benign-positional-vertigo/README.md
Due: none

:fire: build holoscan2.8.0 and updates and build Dockerfiles, adds data path --add-volume $HOME/datasets/ready in docs/holoscan/launch_dev_container.bash; #51
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis.md
  docs/holoscan/launch_dev_container.bash
Due: none

refactor ready.py to use local configs for paths models and use bash to lauch api #51
  docs/holoscan/apis.md
  scripts/apis/ready_py.bash
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

passed pre-commit hooks
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

tested benign-positional-vertigo/video2 and passed pre-commit hooks #4
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
Due: codespell

adds bin/bash removes comments `scripts/apis/ready_py.bash`
  scripts/apis/ready_py.bash
Due: codespell

refactoring src/ready/apis/train_unet_with_openEDS.py, adding bash and config and keep only ready.yaml; passed pre-commit hooks
  configs/models/unet/config_train_unet_with_openEDS.yaml
  data/mobious/models/README.md
  data/openEDS/models/identity_model.onnx
  docs/holoscan/apis.md
  scripts/apis/ready_py.bash
  scripts/models/train_unet_with_openEDS.bash
  src/ready/apis/holoscan/bring_your_own_model/python/byom.py
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
  src/ready/apis/holoscan/ready/python/ready.yaml
  src/ready/apis/train_mobious.py
  src/ready/apis/train_unet_with_openEDS.py
Due: pylint, isort, codespell

adds data/video-tests/ for general processing and other minor changes to test `Acute_VN_Left.MPG` #4
  data/bash-scripts/mp4_to_gxf.bash
  data/bash-scripts/process_videos_with_ffmpeg.bash
  data/video-tests/README.md
  docs/holoscan/README.md
  src/ready/apis/holoscan/ready/python/ready.yaml
Due: codespell

reorgniase data/video-tests/
  data/README.md
  data/video-tests/acute_vn/README.md
  data/video-tests/benign-positional-vertigo/README.md
Due: none

4 - test argaet videos (#64)
  configs/models/unet/config_train_unet_with_openEDS.yaml
  data/README.md
  data/bash-scripts/download_and_process_welgampola_videos.bash
  data/bash-scripts/mp4_to_gxf.bash
  data/bash-scripts/process_videos_with_ffmpeg.bash
  data/mobious/models/README.md
  data/openEDS/models/identity_model.onnx
  data/video-tests/acute_vn/README.md
  data/video-tests/benign-positional-vertigo/README.md
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis.md
  docs/holoscan/launch_dev_container.bash
  scripts/apis/ready_py.bash
  scripts/models/train_unet_with_openEDS.bash
  src/ready/apis/holoscan/bring_your_own_model/python/byom.py
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
  src/ready/apis/holoscan/ready/python/ready.py
  src/ready/apis/holoscan/ready/python/ready.yaml
  src/ready/apis/train_mobious.py
  src/ready/apis/train_unet_with_openEDS.py
Due: pylint, isort, codespell

:fire: adds scripts/apis/webrtc.bash and tests http://{YOUR HOST IP}:8080 app in the same network with and app and mobile; passed pre-commit hooks #40
  docs/holoscan/apis.md
  scripts/apis/webrtc.bash
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

adds `python webrtc_client.py --cert-file MyCertificate.crt --key-file MyKey.key` to webrtc.bash #40
  scripts/apis/webrtc.bash
Due: codespell

adds classes InfoOp, VideoStreamReceiver, VideoStreamReceiver; refactors WebRTCClientApp; webrtc_client.py; updates for READMEs and bash to run local or public network; passed pre-commit hooks #40
  docs/holoscan/apis.md
  scripts/apis/v4l2_cam.bash
  scripts/apis/webrtc.bash
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

renames variable for output message that emits dynamic_text_coords #40
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

fix DeprecationWarning: ssl.PROTOCOL_TLSv1_2 is deprecated with ssl.PROTOCOL_TLS_SERVER; prints frame count={self.frame_count}; adds graph for script #40
  docs/holoscan/apis.md
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

adds flow_benchmarking workflow for webrtc; depenencies, bashes, udpates in READMEs #40
  .gitignore
  data/webrtc/README.md
  docs/holoscan/apis.md
  pyproject.toml
  scripts/apis/webrtc.bash
  scripts/flow_benchmarking/A_analyse_logfile.bash
  scripts/flow_benchmarking/B_analyse_bar_plot_avg_datewise.bash
  scripts/flow_benchmarking/C_app_perf_graph.bash
  scripts/flow_benchmarking/D_live_app_graph.bash
Due: codespell

adds spec.priority = 1 as the image frame is drawn first; passed pre-commit hooks #40
  scripts/flow_benchmarking/A_analyse_logfile.bash
  scripts/flow_benchmarking/B_analyse_bar_plot_avg_datewise.bash
  scripts/flow_benchmarking/C_app_perf_graph.bash
  scripts/flow_benchmarking/D_live_app_graph.bash
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

adds tensor dict type=color, name=frame, etc #40
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

tidies up scripts to generate flow_benchmarking files and plots; passed pre-commit hooks #40
  data/webrtc/README.md
  data/webrtc/flow_benchmarking/README.md
  data/webrtc/flow_benchmarking/plots.svg
  scripts/flow_benchmarking/A_analyse_logfile.bash
  scripts/flow_benchmarking/B_analyse_bar_plot_avg_datewise.bash
  scripts/flow_benchmarking/C_app_perf_graph.bash
  scripts/flow_benchmarking/D_live_app_graph.bash
Due: codespell

adds ref for holoscan-flow-benchmarking-for-holohub #40
  scripts/flow_benchmarking/README.md
Due: codespell
