Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=tests/.pylintrc

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: codespell
  language: python

Added evaluation with testset #93
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Completed loading trained models and evaluated them
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

Writes accuracy value to file and updated config comments
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Modularised creating dataloaders
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

Moving all config arguments to top of train_mobious.py for good visibility
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Added training_loop function and validation_loop function to utils.py
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

Added performance_file_writter and loss_values_file_writer to utils.py
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

Saves evaluation for newly trained model and pretrained models in the same folder
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

Moved TODOs into docstring and ran pre-commit run -a
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

few changes from training model on a100(80gb) #93
  configs/files/config_model_pathfiles.yaml
  configs/models/unet/config_train_unet_with_mobious.yaml
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
Due: pylint, isort, codespell

adds details for 🤗 Models in HuggingFace #93
  README.md
  configs/apis/config_webrtc_ready.yaml
  data/mobious/models/README.md
Due: codespell

Added cp line when copying model folder from cloned hugging face directory to dataset directory #99
  data/mobious/models/README.md
Due: none

plot_losses.py now plots training and validation loss values in its config file #99
  configs/apis/plot_losses.yml
  src/ready/apis/plot_losses.py
Due: pylint, isort, codespell

Finalised loss value and performance metrics graph scripts. Added resultant graphs to conversation in issue #93. #99
  configs/apis/plot_performance.yml
  src/ready/apis/plot_losses.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

Adding 27-Jul-2025 plots #99
  docs/figs/Loss_Values_27-Jul-2025.png
  docs/figs/Performance_Metrics_27-Jul-2025.png
Due: none

Added loss and performance plots to ready/data/mobious/models/README.md #99
  data/mobious/models/README.md
Due: none

changes from training model model-weights_30-Jul-2025_22-34-06_NVIDIA_A100_80GB_PCI #93
  configs/files/config_model_pathfiles.yaml
  docs/cricket/README.md
  scripts/files/tarfiles.bash
Due: codespell

changes from local computer #93
  .gitignore
  docs/cricket/README.md
  scripts/files/moving_models.bash
Due: codespell

inference_mobious.py now works with non-gpu machines #99
  configs/models/unet/config_inference_unet_with_mobious.yaml
  src/ready/apis/inference_mobious.py
Due: pylint, isort, codespell

Updated docs to tell people to download models from HG instead of just cloning repo#99
  data/mobious/models/README.md
Due: none

plot_losses.py now supports plotting loss values from multiple models #99
  configs/apis/plot_losses.yml
  src/ready/apis/plot_losses.py
Due: pylint, isort, codespell

Upload new loss values plot #99
  docs/figs/Loss_Values_Multiple_Models.png
Due: none

plot_perfomance.py now supports plotting performance metrics for multiple performance files#99
  configs/apis/plot_performance.yml
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

Performance Metrics multiple models plots
  docs/figs/Performance_Metrics_Multiple_Models.png
Due: none

Added plots to models README #99
  data/mobious/models/README.md
Due: none

Update inference_mobious.py
  src/ready/apis/inference_mobious.py
Due: pylint, isort, codespell

Update README.md
  data/mobious/models/README.md
Due: none

Update plot_performance.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

Update plot_losses.py
  src/ready/apis/plot_losses.py
Due: pylint, isort, codespell

install holoscan-sdk-3.6.0 using holoscan cli; updates dockerfile, bashes and also run apps #49
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/launch_dev_container.bash
Due: none

resolve typos
  docs/holoscan/apis_webrtc_ready.md
Due: none

adds scripts/files/convert_gxf_entitities_to_images.bash and related changes #80
  .gitignore
  configs/apis/config_webrtc_ready.yaml
  data/video-mobile-phones/acute_vn/README.md
  data/video-mobile-phones/benign-positional-vertigo/README.md
  data/video-mobile-phones/google-pixel-9/README.md
  docs/holoscan/README.md
  pyproject.toml
  scripts/files/convert_gxf_entitities_to_images.bash
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
Due: codespell

adds initial docs/labelstudio/README #80
  docs/labelstudio/README.md
Due: none

adds instructions to create myfiles/ready and mydata and ignore content #80
  .gitignore
  docs/labelstudio/README.md
Due: codespell

Path conditions:
  pylint: any of: \.py$, but not: data/.*|docs/.*|_deps/.*
  black: any of: \.py$, but not: src/ready/.*|tests/.*
  isort: any of: \.py$
  codespell: any file but: data/.*|docs/.*
