Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=tests/.pylintrc

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: codespell
  language: python

adds configs/apis/config_webrtc_ready.yaml parsing values for scripts/apis/webrtc_ready.bash #75
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

passing pre-commit hooks #75
  configs/apis/config_webrtc_ready.yaml
Due: codespell

adds transforms.Normalize(mean=[0.285, 0.456, 0.406], std=[0.529, 0.524, 0.525]), and transforms.ElasticTransform(alpha=100.0, sigma=5.0) and todo for understand normalisation of dataset #75
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

using FULL_DATA_PATH in the MobiousDataset and adds todo to use config file #75
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

75 - augmentations related to image (#83)
  .gitignore
  README.md
  configs/apis/config_webrtc_ready.yaml
  configs/files/config_model_pathfiles.yaml
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  data/webrtc/models/README.md
  docs/cricket/README.md
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
  scripts/files/moving_models.bash
  scripts/files/tarfiles.bash
  scripts/functions/parse_yaml.bash
  scripts/models/rebing_model_NCWH_to_NHWC.bash
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/holoscan/utils/graph_surgeon.py
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
  src/ready/apis/train_mobious.py
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

adds VideoStreamReplayerOp and VideoStreamRecorderOp for apis_webrtc.md and apid_webrtc_ready; including changes to python, bashed scripts; passed pre-commit hooks #84
  configs/apis/config_webrtc.yaml
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/apis.md
  docs/holoscan/apis_webrtc.md
  scripts/apis/webrtc.bash
  scripts/apis/webrtc_ready.bash
  src/ready/apis/holoscan/webrtc/webrtc_client.py
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds replayer_raw and replayer_inference and updates docs/configs #84
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/apis_webrtc_ready.md
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

minor updates to main README and updates main figure ready.svg #84
  README.md
  docs/figs/ready.svg
Due: codespell

main fig width=800 #84
  README.md
Due: codespell

84 - VideoStreamReplayerOp and VideoStreamRecorderOp for webrtc (#85)
  README.md
  configs/apis/config_webrtc.yaml
  configs/apis/config_webrtc_ready.yaml
  docs/figs/ready.svg
  docs/holoscan/apis.md
  docs/holoscan/apis_webrtc.md
  scripts/apis/webrtc.bash
  scripts/apis/webrtc_ready.bash
  src/ready/apis/holoscan/webrtc/webrtc_client.py
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds device_name to model path and other minor changes to READMEs #75
  README.md
  docs/models/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

edits for compresson model from server #75: tar with --absolute-names to solve / from member names
  configs/files/config_model_pathfiles.yaml
  docs/cricket/README.md
  scripts/files/tarfiles.bash
Due: codespell

uptar models in the right path using --strip-components=7 #75
  scripts/files/moving_models.bash
Due: codespell

optimised and run model in api weights_10-May-2025_18-09-20-sim-BHWC.onnx #75
  configs/apis/config_webrtc_ready.yaml
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
Due: codespell

75 - augmentations (#87)
  README.md
  configs/apis/config_webrtc_ready.yaml
  configs/files/config_model_pathfiles.yaml
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  docs/cricket/README.md
  docs/models/README.md
  scripts/files/moving_models.bash
  scripts/files/tarfiles.bash
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

adds details to install and solve cuda driver requirements #88
  README.md
  docs/holoscan/README.md
Due: codespell

adds details to install and solve cuda driver requirements #88 (#89)
  README.md
  docs/holoscan/README.md
Due: codespell

further details to use server to train models
  docs/cricket/README.md
Due: none

few changes to readme and adds docs/pose-mobile-human/
  README.md
  docs/README.md
  docs/demos/README.md
  docs/pose-mobile-human/README.md
  docs/pose-mobile-human/fig-mobile-phone-pose.svg
Due: codespell

Made changes so non-gpu computers that don't have the required directories created can run train_unet_with_mobious.bash
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Added instructions in installation instructions README for Windows Users
  docs/README.md
Due: none

Changing instructions to be more generic and engaging
  docs/README.md
Due: none

Moved comments into main() docstring, and changed MobiousDataset constructor so values aren't hardcoded.
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Replaced = with : in config file
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Made transform and target_transform arguments in MobiousDataset constructor flexible
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Added clarifying comments about transforms
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

adds extra samples of mobius dataset to have 20 samples for images and mask #93
  data/mobious/sample-frames/test3000x1700/images/2_1i_Ll_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Ll_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Lr_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Lr_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Ls_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Ls_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Lu_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Lu_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Rl_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Rl_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Rr_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Rr_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Rs_1.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Rs_2.jpg
  data/mobious/sample-frames/test3000x1700/images/2_1i_Ru_1.jpg
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Ll_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Ll_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Lr_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Lr_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Ls_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Ls_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Lu_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Lu_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Rl_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Rl_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Rr_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Rr_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Rs_1.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Rs_2.png
  data/mobious/sample-frames/test3000x1700/masks/2_1i_Ru_1.png
Due: none

Changed image dimensions from 300x170 to 640x262
  data/mobious/sample-frames/test640x362/images/1_1i_Ll_1.jpg
  data/mobious/sample-frames/test640x362/images/1_1i_Ll_2.jpg
  data/mobious/sample-frames/test640x362/images/1_1i_Lr_1.jpg
  data/mobious/sample-frames/test640x362/images/1_1i_Lr_2.jpg
  data/mobious/sample-frames/test640x362/images/1_1i_Ls_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Ll_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Ll_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Lr_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Lr_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Ls_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Ls_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Lu_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Lu_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Rl_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Rl_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Rr_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Rr_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Rs_1.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Rs_2.jpg
  data/mobious/sample-frames/test640x362/images/2_1i_Ru_1.jpg
  data/mobious/sample-frames/test640x362/masks/1_1i_Ll_1.png
  data/mobious/sample-frames/test640x362/masks/1_1i_Ll_2.png
  data/mobious/sample-frames/test640x362/masks/1_1i_Lr_1.png
  data/mobious/sample-frames/test640x362/masks/1_1i_Lr_2.png
  data/mobious/sample-frames/test640x362/masks/1_1i_Ls_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Ll_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Ll_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Lr_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Lr_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Ls_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Ls_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Lu_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Lu_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Rl_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Rl_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Rr_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Rr_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Rs_1.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Rs_2.png
  data/mobious/sample-frames/test640x362/masks/2_1i_Ru_1.png
Due: none

Added validation into traiining loop, and saving key metrics in json and csv files
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Completed validation in training loop
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Revert "Completed validation in training loop"
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Aesthetic change to logger output and changed config file #93
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Changes according to Miguel's comments
  configs/models/unet/config_train_unet_with_mobious.yaml
  data/bash-scripts/resizing_images_in_folder.bash
  data/mobious/models/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Improved terminolgy relating to data splitting
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

Path conditions:
  pylint: any of: \.py$, but not: data/.*|docs/.*|_deps/.*
  black: any of: \.py$, but not: src/ready/.*|tests/.*
  isort: any of: \.py$
  codespell: any file but: data/.*|docs/.*
