Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: end-of-file-fixer
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: check-yaml
        exclude: '.github/workflows/.*'
    -   id: check-added-large-files
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
           "--rcfile=tests/.pylintrc"
          ]
        exclude: 'data/.*|docs/.*|_deps/.*' #|src/ready/.*|tests/.*'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: 'src/ready/.*|tests/.*'
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [ text ]
        exclude: 'data/.*|docs/.*'

40 - webrtc (#65)
  .gitignore
  data/webrtc/README.md
  data/webrtc/flow_benchmarking/README.md
  data/webrtc/flow_benchmarking/plots.svg
  docs/holoscan/Dockerfile
  docs/holoscan/apis.md
  docs/holoscan/launch_dev_container.bash
  pyproject.toml
  scripts/apis/v4l2_cam.bash
  scripts/apis/webrtc.bash
  scripts/flow_benchmarking/A_analyse_logfile.bash
  scripts/flow_benchmarking/B_analyse_bar_plot_avg_datewise.bash
  scripts/flow_benchmarking/C_app_perf_graph.bash
  scripts/flow_benchmarking/D_live_app_graph.bash
  scripts/flow_benchmarking/README.md
  src/ready/apis/holoscan/webrtc/client.js
  src/ready/apis/holoscan/webrtc/index.html
  src/ready/apis/holoscan/webrtc/webrtc_client.py
Due: pylint, isort, codespell

adds eye-region-of-interest with python opencv, along with bash, config, download, and updates dependencies #60
  .gitignore
  configs/apis/config_facelandmarks.yaml
  data/bash-scripts/download_shape_predictors.bash
  pyproject.toml
  scripts/apis/facelandmarks_rois.bash
  src/ready/apis/facelandmarks/rois.py
Due: pylint, isort, codespell

passed pre-commit hooks
  configs/apis/config_facelandmarks.yaml
  scripts/apis/facelandmarks_rois.bash
  src/ready/apis/facelandmarks/rois.py
Due: pylint, isort, codespell

adds thresholds to cropped eyes #60
  src/ready/apis/facelandmarks/rois.py
Due: pylint, isort, codespell

solve further conflicts
  pyproject.toml
  tests/test_unetvit.py
  tests/test_unetvit_newdata.py
Due: pylint, isort, codespell

solve conflict
  .gitignore
  __init__.py
  docs/models/README.md
  src/__init__.py
  src/ready/models/__init__.py
Due: pylint, black, isort, codespell

update readme
  docs/README.md
  docs/models/README.md
  pyproject.toml
  src/ready/__init__.py
  src/ready/apis/pytorch2onnx.py
  src/ready/apis/train_unetvit.py
  src/ready/models/__init__.py
  src/ready/utils/datasets.py
  tests/config_test.yml
  tests/test_unetvit.py
  tests/test_unetvit_newdata.py
Due: pylint, isort, codespell

adds test_train_pipeline and renames test_inference_pipeline and makes pre-commit hooks happier!
  tests/test_unetvit.py
Due: pylint, isort, codespell

adds steps to test test_unetvit.py::test_MOBIOUSDataset_unetvit and TODO in docstring
  docs/models/README.md
  tests/test_unetvit.py
Due: pylint, isort, codespell

update dataloader of unetvit for different image sizes, need to be tested on other image sizes
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

makes pre-commit hooks happy!
  tests/test_unetvit.py
Due: pylint, isort, codespell

update config
  tests/config_test.yml
Due: codespell

modify the unetvit model to fit in the image size change - need to test whether this performs well, otherwise discard it
  src/ready/models/unetvit.py
Due: pylint, isort, codespell

1.add training unetvit step for in test_train_pipeline 2.improve visualization for different eye parts
  tests/test_unetvit.py
Due: pylint, isort, codespell

renames organisation using oocular
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: codespell

update PR workflow
  CONTRIBUTING.md
Due: codespell

update traning unetvit for mobius dataset
  src/ready/apis/train_unetvit_mobius.py
  src/ready/utils/datasets.py
  tests/config_test.yml
Due: pylint, isort, codespell

adds organisation path and certification in dataset paths #40
  docs/holoscan/apis.md
  docs/holoscan/launch_dev_container.bash
  scripts/apis/webrtc.bash
Due: codespell

updates to use holoscan-sdk-2.9.0 and other minor edits #40
  README.md
  docs/holoscan/README.md
Due: codespell

fix link for models and video-data#40
  docs/holoscan/apis.md
Due: none

adds cosmetic changes to READMEs and bashes #40
  docs/figs/webrtc_app.png
  docs/holoscan/README.md
  docs/holoscan/apis.md
  scripts/apis/webrtc.bash
Due: codespell

40 - Updates organisation path and adds certification in dataset paths (#67)
  README.md
  docs/figs/webrtc_app.png
  docs/holoscan/README.md
  docs/holoscan/apis.md
  docs/holoscan/launch_dev_container.bash
  scripts/apis/webrtc.bash
Due: codespell

adds scaffolding for api #68
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
  src/ready/apis/holoscan/webrtc_ready/client.js
  src/ready/apis/holoscan/webrtc_ready/index.html
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

minor variable updates #68
  src/ready/apis/holoscan/webrtc_ready/index.html
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds inferenceOp and new issue nvidia-holoscan/holohub/issues/677 #68
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds line to show number of parameters; passed pre-commit hooks #70
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

solves #70; minor changes to the use of imports
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

70 - adds number of parameters for unet #70 (#71)
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

fixed argument type for `pre_processor_map` expect a list as argument not a string #68
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds operators and workflow but do not work #68
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds debuggig workflow with respective operators with issues with FormatConverterOp tensor not found #68
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds `in_tensor_name=tensor` in FormatConverterOp #68
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds `in_tensor_name="frame",` in_dtype=rgb888, out_dtype=rgb888, in FormatConverterOp and comment on export HOLOSCAN_LOG_LEVEL=DEBUG #68
  docs/holoscan/apis_webrtc_ready.md
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds `out_dtype=float32` in FormatConverterOp #68
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds HOLOSCAN_LOG_LEVEL options #68
  docs/holoscan/apis_webrtc_ready.md
Due: none

tried to update holoscan-sdk-3.0.0.7 but it still pointing to docker.io/library/holohub:ngc-v2.9.0-dgpu #49
  docs/holoscan/README.md
Due: none

udpates graph structure; comments prints in webrtc_client.py; adds HOLOSCAN_LOG_LEVEL in bash #68
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds flowbenchmarking plots and refactor related scripts; adds plots and chagnes to README #68
  data/webrtc/flow_benchmarking/README.md
  data/webrtc/flow_benchmarking/plots_mobile.svg
  scripts/flow_benchmarking/A_analyse_logfile.bash
  scripts/flow_benchmarking/B_analyse_bar_plot_avg_datewise.bash
Due: codespell

comments tensor values for spec.text in PostInfoOp and renames holovizOp #68
  docs/holoscan/apis_webrtc_ready.md
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell
