Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: end-of-file-fixer
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: check-yaml
        exclude: '.github/workflows/.*'
    -   id: check-added-large-files
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
           "--rcfile=tests/.pylintrc"
          ]
        exclude: 'data/.*|docs/.*|_deps/.*' #|src/ready/.*|tests/.*'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: 'src/ready/.*|tests/.*'
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [ text ]
        exclude: 'data/.*|docs/.*'

Address PR review comments
  README.md
Due: codespell

Test deploying GH pages on PR
  .github/workflows/deploy.yml
Due: codespell

Branch protection rules don't allow GH pages deployment on PR - security reasons
  .github/workflows/deploy.yml
Due: codespell

Try to fix deploy.yml
  .github/workflows/deploy.yml
Due: codespell

Potential fix for pull request finding
  .github/workflows/deploy.yml
Due: codespell

adds basenames for patient00; TODO create path for participant id to save all related files
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/apis_webrtc_ready.md
Due: codespell

adds config file configs/apis/config_webrtc_ready_poc_sep2026.yaml; and related changes solves #134;
  configs/apis/config_webrtc_ready_poc_sep2026.yaml
  configs/apis/config_webrtc_ready_template.yaml
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

adds generic data/protocols/
  data/protocols/proof-of-concept.md
Due: none

fixes from pre-commmit hooks
  configs/apis/config_webrtc_ready_poc_sep2026.yaml
Due: codespell

131 - generic data collection protocol and refactors paths in config files (#138)
  configs/apis/config_webrtc_ready_poc_sep2026.yaml
  configs/apis/config_webrtc_ready_template.yaml
  data/protocols/proof-of-concept.md
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

tidies up docs to run again ready_py: docs/holoscan/apis_ready.md; adds paths for models and port value `/dev/video48` for camera src/ready/apis/holoscan/ready/python/ready.yaml
  docs/holoscan/apis_ready.md
  src/ready/apis/holoscan/ready/python/ready.yaml
Due: codespell

refactoring configs and python scrips to run v4l2 and replayer which stills needs some debugging as cannot replay anything
  configs/apis/config_readypy_template.yaml
  configs/apis/config_readypy_yaml.yaml
  scripts/apis/ready_py.bash
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

put back n_channels for v4l2 that was uninteded removed
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds prototype of recording workflow (source>preprocessor_v4l2>recorder_op)
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

precommit hook fixes
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds visualizer_sink and remove viz in config yaml
  configs/apis/config_readypy_yaml.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

rename in favour of preprocessor_v4l2_recorder; adds visualizer_replayer; replayer_op;
  configs/apis/config_readypy_template.yaml
  configs/apis/config_readypy_yaml.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

removes implemented code and comment replayer source section
  configs/apis/config_readypy_yaml.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

logs changes on using pool=rmm_allocator for FormatConverterOp and tries different image_format for HolovizOp
  configs/apis/config_readypy_yaml.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

using out_dtype=float32 in recorder_format_converter = FormatConverterOp, render video but it is cut
  src/ready/apis/holoscan/ready/python/out_preprocessor.npy
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

using BlockMemoryPool in FormatConverterOp but not change
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

trying BlockMemoryPool in V4L2VideoCaptureOp but no change
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

few notes, still same result
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds Debuggin Recording
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adding few notes to variables
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

holoscan-sdk-4.6.0 #125
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/launch_dev_container.bash
Due: none

adds notes on image_format and removes lines tha create warmings when printing
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds ShapeProbeOp for workflow: source > recorder_format_converter > shapeprobe_op > visualizer_live
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

includes recording workflow; other minor changes
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

tidies up apis_webrtc_ready and runs quicker with NVIDIA Holoscan SDK Version: 4.6.0; still pending the truncation of the window/viewport level after the tensor is uploaded
  configs/apis/config_webrtc_ready_template.yaml
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

133 - using ready.py to mitigate startup lag in webrtc (#140)
  configs/apis/config_readypy_template.yaml
  configs/apis/config_readypy_yaml.yaml
  configs/apis/config_webrtc_ready_template.yaml
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis_ready.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/launch_dev_container.bash
  scripts/apis/ready_py.bash
  scripts/apis/webrtc_ready.bash
  src/ready/apis/holoscan/ready/python/out_preprocessor.npy
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds config arg to webrtc_ready.bash; updates respective docs; solves #137
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

adds description to add and edit config files
  docs/holoscan/apis_webrtc_ready.md
Due: none

adds example for mkdir paths for data collection
  docs/holoscan/apis_webrtc_ready.md
Due: none

adds Specific protocol at data/protocols/proof-of-concept.md and tidies up docs/holoscan/apis_webrtc_ready.md
  data/protocols/proof-of-concept.md
  docs/holoscan/apis_webrtc_ready.md
Due: none

adds edits to protocols
  configs/apis/config_webrtc_ready_poc_sep2026.yaml
  data/protocols/proof-of-concept.md
Due: codespell

adds config
  data/protocols/proof-of-concept.md
Due: none

logs from directory: /workspace/volumes/datasets/ready/webrtc/recordings/ID002
  configs/apis/config_webrtc_ready_poc_sep2026.yaml
Due: codespell

logs from directory: /workspace/volumes/datasets/ready/webrtc/recordings/ID003
  configs/apis/config_webrtc_ready_poc_sep2026.yaml
Due: codespell
