Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=tests/.pylintrc

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: codespell
  language: python

Add basic mkdocs.yml
  mkdocs.yml
Due: codespell

Add docs.yml github workflow
  .github/workflows/docs.yml
Due: codespell

Add noxfile.py
  noxfile.py
Due: pylint, black, isort, codespell

Add dependency-groups including nox and mkdocstrings
  pyproject.toml
Due: codespell

Include lint prek in dev group
  pyproject.toml
Due: codespell

Add site/ to .gitignore if building docs locally
  .gitignore
Due: codespell

Add steps for building docs locally
  README.md
Due: codespell

Changed repo links to github links since README.md not in main docs/ folder
  docs/demos/README.md
Due: none

116 - cleaner steps to run demo (#118)
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis.md
  docs/holoscan/apis_webrtc_ready.md
Due: codespell

Ran pre-commit locally
  .github/workflows/docs.yml
  .gitignore
  noxfile.py
Due: pylint, black, isort, codespell

Added all docs with subfolders into docs/
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  mkdocs.yml
Due: codespell

Fix landing page
  docs/index.md
  mkdocs.yml
Due: codespell

Change repo URLs org from UCL to oocular
  docs/demos/README.md
  docs/hackathons/hawkes2024/README.md
  docs/hackathons/hawkes2024/day01.md
  docs/hackathons/hawkes2024/day02.md
Due: none

Add building docs and adding sub pages steps to index.md
  docs/index.md
Due: none

add changes to use logger_filename ${recorder_directory}/${recorder_basename}_${recorder_loggername}_${recorder_loggerextension} in the config file and bash tested with LOCAL network
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

use full path to run bash
  docs/holoscan/apis_webrtc_ready.md
Due: none

adds minor changes to run apis_webrtc_ready.md
  docs/holoscan/apis_webrtc_ready.md
Due: none

improve readibility and reproducibilty
  docs/holoscan/apis_webrtc_ready.md
Due: none

adds tex for section `Connect a browser to stream video from the mobile phone to the Holoscan server (device with GPU)` and figures with reproducible readme for figs
  docs/figs/webrtc_ready/README.md
  docs/figs/webrtc_ready/screenshot-running_webrtc_client.png
  docs/figs/webrtc_ready/webrtc_ready_in_brave_mobile_browser.svg
  docs/holoscan/apis_webrtc_ready.md
Due: none

fix `webrtc_ready` script usage reference link
  docs/holoscan/apis_webrtc_ready.md
Due: none

119 - setting up logger in config file (#121)
  configs/apis/config_webrtc_ready.yaml
  docs/figs/webrtc_ready/README.md
  docs/figs/webrtc_ready/screenshot-running_webrtc_client.png
  docs/figs/webrtc_ready/webrtc_ready_in_brave_mobile_browser.svg
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
Due: codespell

a few changes to clone repo
  docs/CONTRIBUTING.md
Due: none

build docker images and install missing requirements to run v4l2_camera.py with Logitech Webcam C930e (also create v4l.md to log useful commands to debug v4l devices)
  docs/holoscan/README.md
  docs/holoscan/launch_dev_container.bash
  docs/holoscan/v4l.md
  src/ready/apis/holoscan/v4l2_camera/python/v4l2_camera.yaml
Due: codespell

download hf model with curl, adds steps to covert and updates packages version to convert model pth to onnx (onnx, onnxruntime, onnxsim, onnxscript, onnx-ir)
  data/mobious/models/README.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/launch_dev_container.bash
  docs/index.md
  pyproject.toml
Due: codespell

tested with webrtc_ready.bash PUBLIC DEBUG webrtc False
  docs/holoscan/apis_webrtc_ready.md
Due: none

:tada: replicated workflow that records using rtx2000; adds creating of `recordings` path otherwise you will get `: recorder_op - Failed to open index_file_stream_ with error: GXF_FAILURE`
  docs/holoscan/README.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/launch_dev_container.bash
Due: none

adds todo git checkout v4.5.0 for git@github.com:nvidia-holoscan/holoscan-sdk.git
  docs/holoscan/README.md
Due: none

Add deploy.yml workflow
  .github/workflows/deploy.yml
Due: codespell

Update actions versions
  .github/workflows/pre-commit-ci.yaml
Due: codespell

Fix the broken documentation link
  README.md
Due: codespell

Add links for Discussions and Contributing in main README
  README.md
Due: codespell

Fix image rendering on docs/index.md
  docs/index.md
Due: none

Check CI works for pre-commit
  .github/workflows/deploy.yml
Due: codespell

Fix linting w/ non-docs files
  configs/apis/plot_losses.yml
  configs/apis/plot_performance.yml
  src/ready/apis/plot_losses.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

Check CI works for pre-commit
  README.md
Due: codespell

adds copilot suggestions aliging to ruaridhg` feedback
  data/mobious/models/README.md
  docs/holoscan/README.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/v4l.md
  docs/index.md
  pyproject.toml
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
  src/ready/apis/holoscan/v4l2_camera/python/v4l2_camera.yaml
  src/ready/apis/holoscan/webrtc_ready/client.js
Due: codespell

adds versions of torch==2.13.0" and torchvision==0.28.0; fix With explicit = true where uv wont try that index for setuptools/setuptools-scm anymore; and various changes from pre-commit hooks
  configs/apis/plot_losses.yml
  configs/apis/plot_performance.yml
  pyproject.toml
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
  src/ready/apis/holoscan/webrtc_ready/client.js
  src/ready/apis/plot_losses.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

122 - e2e with rtx2000 (#126)
  configs/apis/plot_losses.yml
  configs/apis/plot_performance.yml
  data/mobious/models/README.md
  docs/CONTRIBUTING.md
  docs/holoscan/README.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/launch_dev_container.bash
  docs/holoscan/v4l.md
  docs/index.md
  pyproject.toml
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
  src/ready/apis/holoscan/v4l2_camera/python/v4l2_camera.yaml
  src/ready/apis/holoscan/webrtc_ready/client.js
  src/ready/apis/plot_losses.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

Path conditions:
  pylint: any of: \.py$, but not: data/.*|docs/.*|_deps/.*
  black: any of: \.py$, but not: src/ready/.*|tests/.*
  isort: any of: \.py$
  codespell: any file but: data/.*|docs/.*
