Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: end-of-file-fixer
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: check-yaml
        exclude: '.github/workflows/.*'
    -   id: check-added-large-files
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
           "--rcfile=tests/.pylintrc"
          ]
        exclude: 'data/.*|docs/.*|_deps/.*' #|src/ready/.*|tests/.*'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: 'src/ready/.*|tests/.*'
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [ text ]
        exclude: 'data/.*|docs/.*'

adds apis to main README #68
  README.md
Due: codespell

Refined READMEs formatting and styling #68
  README.md
  docs/README.md
Due: codespell

68 - webrtc_ready api (#69)
  README.md
  data/webrtc/flow_benchmarking/README.md
  data/webrtc/flow_benchmarking/plots_mobile.svg
  docs/README.md
  docs/holoscan/README.md
  docs/holoscan/apis_webrtc_ready.md
  scripts/apis/webrtc_ready.bash
  scripts/flow_benchmarking/A_analyse_logfile.bash
  scripts/flow_benchmarking/B_analyse_bar_plot_avg_datewise.bash
  src/ready/apis/holoscan/webrtc_ready/client.js
  src/ready/apis/holoscan/webrtc_ready/index.html
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

tried consumer speed for the scheduler type EventBasedScheduler and MultiThreadScheduler with different worker_thread_number and stop_on_deadlock_timeout but nothing little impact on latency #73
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

simple workflow and flowbenchmarking results with 35ms of E2E latency #73
  data/webrtc/flow_benchmarking/README.md
  data/webrtc/flow_benchmarking/README_WebRTCClientOp.md
  data/webrtc/flow_benchmarking/plots_mobile_basicflow.svg
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

prototype workflow with DropFramesOp #78
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

:tada: update holoscan-sdk-3.0.0
  docs/holoscan/README.md
Due: none

adds details for DropFramesOp and README and figs for logs with PeriodicCondition 2 and 5Hz #73
  data/webrtc/flow_benchmarking/README_WebRTCClientOp.md
  data/webrtc/flow_benchmarking/plots_mobile_branch_hz_2.svg
  data/webrtc/flow_benchmarking/plots_mobile_branch_hz_5.svg
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

tried original workflow but just got it hold (just commit to debug previous commits) #73
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

:fire: working workflow with drop_frames_operator with PeriodicCondition based on `branch_hz = 15` #73
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

improving main README linking webrtc_client api docs and minor change to holoviz dim window size and update graph diagram of worfklow #73
  README.md
  docs/holoscan/apis_webrtc_ready.md
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

links for ready apis in main README and adds animation
  README.md
  docs/figs/animations/ready-mobious-2024-09-12.gif
  docs/holoscan/apis.md
  docs/holoscan/apis_ready.md
Due: codespell

adds links for commit signature verification and minor changes to main README
  CONTRIBUTING.md
  README.md
Due: codespell

tidies up demo table main readme
  README.md
Due: codespell

just using a more appropriate name `post_inference_op` #73
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
Due: pylint, isort, codespell

adds <br/>` for main demo table
  README.md
Due: codespell

reducing words in columns for table
  README.md
Due: codespell

add word to title of column for table
  README.md
Due: codespell

adds animation and details for webrtc_client in the main readme #73
  README.md
  docs/figs/animations/README.md
  docs/figs/animations/readydemo-2025-03-27_15.10.46.gif
Due: codespell

minor changes to debug models locally on NVIDIARTXA20008GBLaptopGPU #75
  README.md
  configs/models/unet/config_train_unet_with_mobious.yaml
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

few comments to run scripts in server #75
  configs/models/unet/config_train_unet_with_mobious.yaml
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

train models without/with defautl augmentations #75
  configs/models/unet/config_train_unet_with_mobious.yaml
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

adds other transforms_rotations and other updates to READMEs #75
  configs/models/unet/config_train_unet_with_mobious.yaml
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

adds time to model path; updates train paths and uv installation for server #75
  configs/models/unet/config_train_unet_with_mobious.yaml
  docs/cricket/README.md
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

general updates to model development in local and server #75
  README.md
  docs/cricket/README.md
  docs/models/README.md
Due: codespell

model optimistaion for _weights_29-Mar-2025_16-23-29.pth and realted changes #75
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  data/mobious/models/augmentations.md
  scripts/models/convert_to_onnx_and_simplify_it.bash
  scripts/models/rebing_model_NCWH_to_NHWC.bash
Due: codespell

adds arguments for model_name and models_path_map; passed pre-commit hooks #75
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  docs/cricket/README.md
  scripts/apis/webrtc_ready.bash
  scripts/models/rebing_model_NCWH_to_NHWC.bash
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

refactor src/ready/apis/plot_losses.py to accept config and related changes todocument plotting; also passes pre-commit hooks #75
  configs/apis/plot_losses.yml
  data/mobious/models/augmentations.md
  data/webrtc/models/README.md
  data/webrtc/models/ref
  src/ready/apis/plot_losses.py
Due: pylint, isort, codespell

adds src/ready/apis/plot_performance.py with configs/apis/plot_performance.yml, updates README and passed pre-commit hooks #75
  configs/apis/plot_losses.yml
  configs/apis/plot_performance.yml
  data/webrtc/models/README.md
  src/ready/apis/plot_losses.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

minor changes to document and update files and test optmised model `_weights_28-Mar-2025_15-25-07-sim-BHWC.onnx`; passed pre-commit hooks #75
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  data/webrtc/models/README.md
  scripts/apis/webrtc_ready.bash
  scripts/models/rebing_model_NCWH_to_NHWC.bash
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
  src/ready/apis/plot_performance.py
Due: pylint, isort, codespell

removes data/webrtc/models/ref and minor change to webrtc_ready.bash #75
  data/webrtc/models/ref
  scripts/apis/webrtc_ready.bash
Due: codespell

using _weights_15-12-24_07-00-10-sim-BHWC.onnx #75
  scripts/apis/webrtc_ready.bash
Due: codespell

NVIDIA Holoscan SDK Version: 3.1.0 #75
  docs/holoscan/README.md
Due: none

75 improving unet model performance (#76)
  README.md
  configs/apis/plot_losses.yml
  configs/apis/plot_performance.yml
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  configs/models/unet/config_train_unet_with_mobious.yaml
  data/webrtc/models/README.md
  docs/cricket/README.md
  docs/holoscan/README.md
  docs/models/README.md
  scripts/apis/webrtc_ready.bash
  scripts/models/convert_to_onnx_and_simplify_it.bash
  scripts/models/rebing_model_NCWH_to_NHWC.bash
  src/ready/apis/holoscan/webrtc_ready/webrtc_client.py
  src/ready/apis/plot_losses.py
  src/ready/apis/plot_performance.py
  src/ready/apis/train_mobious.py
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

adds transforms_img and transforms_rotations to MobiousDataset #75
  .gitignore
  README.md
  src/ready/apis/train_mobious.py
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

adds bash scritps and config files to move model files #75
  .gitignore
  configs/files/config_model_pathfiles.yaml
  docs/cricket/README.md
  scripts/files/moving_models.bash
  scripts/files/tarfiles.bash
  scripts/functions/parse_yaml.bash
Due: codespell

changes t tarfiles.bash from server #75
  configs/files/config_model_pathfiles.yaml
  docs/cricket/README.md
  scripts/files/tarfiles.bash
Due: codespell

adding untar to scripts/files/moving_models.bash #75
  scripts/files/moving_models.bash
Due: codespell

refactor scritps and bashes in favor of, hopefully, easier model optimisation pipeline, using _weights_26-Apr-2025_19-40-01.pth; passed pre-commit hooks #75
  configs/models/unet/config_convert_to_onnx_and_simplify_it.yaml
  data/webrtc/models/README.md
  scripts/files/moving_models.bash
  scripts/models/rebing_model_NCWH_to_NHWC.bash
  src/ready/apis/convert_to_onnx_and_simplify_it.py
  src/ready/apis/holoscan/utils/graph_surgeon.py
  src/ready/apis/holoscan/utils/holohub-utils-dependencies.bash
Due: pylint, isort, codespell
