Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: end-of-file-fixer
        exclude: 'data/.*|docs/.*'
        exclude_types: [markdown]
    -   id: check-yaml
        exclude: '.github/workflows/.*'
    -   id: check-added-large-files
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
           "--rcfile=tests/.pylintrc"
          ]
        exclude: 'data/.*|docs/.*|_deps/.*' #|src/ready/.*|tests/.*'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: 'src/ready/.*|tests/.*'
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [ text ]
        exclude: 'data/.*|docs/.*'

fixed ccaekqu typo for new global model mobious
  src/ready/apis/train_federated_mobious.py
Due: pylint, isort, codespell

added home path to federated
  configs/federated/config_federated_rti_eyes.yaml
  src/ready/apis/train_federated.py
  src/ready/apis/train_federated_rti_eyes.py
Due: pylint, isort, codespell

added sorting openEDS masks to png file and sorting images from masks in rit eyes file
  npy_to_png.py
  sort_masks_from_images.py
Due: pylint, black, isort, codespell

test file
  test.txt
Due: codespell

testing using sort_mobious
  sort_mobius.py
Due: pylint, black, isort, codespell

Added all preprocessing files plus modified training files for model benchmarking
  configs/models/unet/config_train_unet_with_mobious.yaml
  configs/models/unet/config_train_unet_with_openEDS.yaml
  npytopng.py
  sort_openeds.py
  sort_snatural.py
  src/ready/apis/train_rtieyes.py
  src/ready/apis/train_unet_with_openEDS.py
  src/ready/preprocessing/augment_images.py
  src/ready/preprocessing/geometric.py
  src/ready/preprocessing/photometric.py
  src/ready/preprocessing/utils.py
  src/ready/utils/datasets.py
Due: pylint, black, isort, codespell

test
  ready/configs/federated/config_federated_rti_eyes.yaml
Due: codespell

changed epochs of rti_eyes to 5
  ready/configs/federated/config_federated_rti_eyes.yaml
Due: codespell

pointing data path of rti eyes to RDSS
  ready/configs/federated/config_federated_rti_eyes.yaml
Due: codespell

pointing to RDSS on federated rti python file
  ready/src/ready/apis/train_federated_rti_eyes.py
Due: pylint, isort, codespell

added debugging print statements in federated.py
  ready/src/ready/apis/train_federated.py
Due: pylint, isort, codespell

removed desktop.ini file
  desktop.ini
Due: codespell

running rti eyes on rdss for fed only
  src/ready/apis/train_federated.py
Due: pylint, isort, codespell

uncomment line
  src/ready/apis/train_federated.py
Due: pylint, isort, codespell

Delete configs/preprocessing directory
  configs/preprocessing/augment_images.py
  configs/preprocessing/geometric.py
  configs/preprocessing/transforms.py
  configs/preprocessing/utils.py
Due: pylint, black, isort, codespell

Delete data/mobious/sample-frames/test640x400 directory
  data/mobious/sample-frames/test640x400/images/1_1i_Ll_1.jpg
  data/mobious/sample-frames/test640x400/images/1_1i_Ll_2.jpg
  data/mobious/sample-frames/test640x400/images/1_1i_Lr_1.jpg
  data/mobious/sample-frames/test640x400/images/1_1i_Lr_2.jpg
  data/mobious/sample-frames/test640x400/images/1_1i_Ls_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Ll_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Ll_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Lr_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Lr_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Ls_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Ls_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Lu_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Lu_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Rl_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Rl_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Rr_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Rr_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Rs_1.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Rs_2.jpg
  data/mobious/sample-frames/test640x400/images/2_1i_Ru_1.jpg
  data/mobious/sample-frames/test640x400/masks/1_1i_Ll_1.png
  data/mobious/sample-frames/test640x400/masks/1_1i_Ll_2.png
  data/mobious/sample-frames/test640x400/masks/1_1i_Lr_1.png
  data/mobious/sample-frames/test640x400/masks/1_1i_Lr_2.png
  data/mobious/sample-frames/test640x400/masks/1_1i_Ls_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Ll_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Ll_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Lr_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Lr_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Ls_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Ls_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Lu_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Lu_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Rl_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Rl_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Rr_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Rr_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Rs_1.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Rs_2.png
  data/mobious/sample-frames/test640x400/masks/2_1i_Ru_1.png
Due: none

Delete data/mobious/sample-frames/test640x640_samples directory
  data/mobious/sample-frames/test640x640_samples/images/1_1i_Ll_1.jpg
  data/mobious/sample-frames/test640x640_samples/images/1_1i_Ll_2.jpg
  data/mobious/sample-frames/test640x640_samples/images/1_1i_Lr_1.jpg
  data/mobious/sample-frames/test640x640_samples/images/1_1i_Lr_2.jpg
  data/mobious/sample-frames/test640x640_samples/images/1_1i_Ls_1.jpg
  data/mobious/sample-frames/test640x640_samples/images/2_1i_Ll_1.jpg
  data/mobious/sample-frames/test640x640_samples/images/2_1i_Ll_2.jpg
  data/mobious/sample-frames/test640x640_samples/images/2_1i_Lr_1.jpg
  data/mobious/sample-frames/test640x640_samples/images/2_1i_Lr_2.jpg
  data/mobious/sample-frames/test640x640_samples/images/2_1i_Ls_1.jpg
  data/mobious/sample-frames/test640x640_samples/masks/1_1i_Ll_1.png
  data/mobious/sample-frames/test640x640_samples/masks/1_1i_Ll_2.png
  data/mobious/sample-frames/test640x640_samples/masks/1_1i_Lr_1.png
  data/mobious/sample-frames/test640x640_samples/masks/1_1i_Lr_2.png
  data/mobious/sample-frames/test640x640_samples/masks/1_1i_Ls_1.png
  data/mobious/sample-frames/test640x640_samples/masks/2_1i_Ll_1.png
  data/mobious/sample-frames/test640x640_samples/masks/2_1i_Ll_2.png
  data/mobious/sample-frames/test640x640_samples/masks/2_1i_Lr_1.png
  data/mobious/sample-frames/test640x640_samples/masks/2_1i_Lr_2.png
  data/mobious/sample-frames/test640x640_samples/masks/2_1i_Ls_1.png
Due: none

Add files via upload
  docs/figs/holoscan-api-video_30_duplicated_frames_of_val-000160-640wX400h_rgb_channels3.png
  docs/figs/inference_of__weights_10-09-24_06-35-14-sim-BHWC.onnx_with_video_30_duplicated_frames_of_1_1i_Ll_1_channels3.png
  docs/figs/inference_of__weights_10-09-24_06-35-14-sim-BHWC_with_video_30_duplicated_frames_of_four-frames-in-one_channels3.png
  docs/figs/inference_of__weights_10-09-24_06-35-14-sim-BHWC_with_video_30_duplicated_frames_of_fractal-frames-in-one_channels3.png
  docs/figs/inference_of_weights_10-09-24_23-53-45_in_holoscan_api_with_video_30_duplicated_frames_of_val-000180-640wX400h_channels3.png
Due: none

renamed file
  npytopng.py
Due: pylint, black, isort, codespell

resolved merge conflicts
  src/ready/preprocessing/utils.py
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

adds docs/labelstudio/README.md
  .gitignore
  docs/labelstudio/README.md
Due: codespell

install holoscan-sdk-3.6.0 using holoscan cli; updates dockerfile, bashes and also run apps; resolve typos
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis_webrtc_ready.md
  docs/holoscan/launch_dev_container.bash
Due: none

Deleted the test.txt file
  test.txt
Due: codespell

Updated src/ready/apis/train_rtieyes.py
  src/ready/apis/train_rtieyes.py
Due: pylint, isort, codespell

Update configs/models/unet/config_train_unet_with_mobious.yaml
  configs/models/unet/config_train_unet_with_mobious.yaml
Due: codespell

adds cleaner steps to run v4l2_cam.bash with dev container image
  docs/holoscan/Dockerfile
  docs/holoscan/README.md
  docs/holoscan/apis.md
Due: none

separate link in the title
  docs/holoscan/README.md
Due: none

adds docker attach $(docker ps -aq)
  docs/holoscan/README.md
Due: none

adds links to apis
  docs/holoscan/README.md
Due: none

reorganse steps to run apis_webrtc_ready.md in local and public network
  configs/apis/config_webrtc_ready.yaml
  docs/holoscan/apis_webrtc_ready.md
Due: codespell

adds copilot suggestions
  docs/holoscan/apis_webrtc_ready.md
Due: none

includes the use of config files
  docs/holoscan/apis_webrtc_ready.md
Due: none

remove line in favour of the creation of an issue
  docs/holoscan/apis_webrtc_ready.md
Due: none
