Repository oocular/ready: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, isort, codespell

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=tests/.pylintrc

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

codespell:
  name: codespell
  description: Checks for common misspellings in text files.
  entry: codespell
  language: python

updates NVIDIA Holoscan SDK Version: 2.5.0 (and tests apis) #23
  docs/holoscan/README.md
Due: none

updates NVIDIA Holoscan SDK Version: 2.5.0 (and tests apis) #23 (#24)
  docs/holoscan/README.md
Due: none

updates utils.py::set_data_directory that use pathlib to refactor respective scripts #25
  docs/models/README.md
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
  tests/test_data_paths.py
Due: pylint, isort, codespell

pre-commit runs -a
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

test set_data_directory with server data #25
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

adds username to apptainer with mounting paths with nv to expose drivers #25
  docs/cricket/README.md
  docs/cricket/launch_container_in_cricket.bash
Due: none

working bash to mount paths with apptainer and bind nvidia drivers; refactors train_mobious to test workflow #25
  docs/cricket/launch_container_in_cricket.bash
  src/ready/apis/train_mobious.py
Due: pylint, isort, codespell

generic bash to launch torch image with apptainer #25
  docs/cricket/README.md
  docs/cricket/launch_container_in_cricket.bash
Due: none

updates PR template
  .github/pull_request_template.md
Due: codespell

25 - Shared paths on local and server (#28)
  .github/pull_request_template.md
  docs/cricket/README.md
  docs/cricket/launch_container_in_cricket.bash
  docs/models/README.md
  src/ready/apis/train_mobious.py
  src/ready/utils/utils.py
  tests/test_data_paths.py
Due: pylint, isort, codespell

adds CONTRIBUTING.md, CODE_OF_CONDUCT.md, .github/pull_request_template.md #29
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: codespell

fixing links #29
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
Due: codespell

Minor refinements to READMEs #29
  README.md
  data/README.md
  docs/README.md
Due: codespell

29 - adds contrib code conduct pre commit (#30)
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  data/README.md
  docs/README.md
Due: codespell

adds agenda and activites for Hawkes Hackathon #31
  docs/hackathons/README.md
  docs/hackathons/hawkes2024/README.md
  docs/hackathons/hawkes2024/day00.md
  docs/hackathons/hawkes2024/day01.md
  docs/hackathons/hawkes2024/day02.md
Due: none

adds agenda and activites for Hawkes Hackathon #31 (#34)
  docs/hackathons/README.md
  docs/hackathons/hawkes2024/README.md
  docs/hackathons/hawkes2024/day00.md
  docs/hackathons/hawkes2024/day01.md
  docs/hackathons/hawkes2024/day02.md
Due: none

Added function to load test EDS image and mask
  tests/test_data_paths.py
Due: pylint, isort, codespell

Revised according to review
  tests/test_data_paths.py
Due: pylint, isort, codespell

Added function to load test EDS image and mask (#38)
  tests/test_data_paths.py
Due: pylint, isort, codespell

fixing erros from codespell CI #42
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: codespell

remove empty line2 from pre-commit-ci.yaml
  .github/workflows/pre-commit-ci.yaml
Due: codespell

removes extra bracket from line2 on /pre-commit-ci.yaml
  .github/workflows/pre-commit-ci.yaml
Due: codespell

adds `SKIP=pylint,black pre-commit run -a` in ci workflow
  .github/workflows/pre-commit-ci.yaml
Due: codespell

42 - fixing pre-commit errors and CI #42 (#43)
  .github/workflows/pre-commit-ci.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: codespell

adds template for team-name fig #31
  docs/hackathons/hawkes2024/README.md
  docs/hackathons/hawkes2024/team-hawkes2024.svg
Due: none

udpates team participants and team fig name
  docs/hackathons/hawkes2024/README.md
  docs/hackathons/hawkes2024/team-hawkes2024.svg
Due: none

adds lines for (self.y, y), axis=-1
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

Add flip and rotate augmentations
  src/ready/apis/train_mobious.py
  src/ready/utils/datasets.py
Due: pylint, isort, codespell

updated our name to sens-eye with some background image and moto :) #31
  docs/hackathons/hawkes2024/team-hawkes2024.svg
Due: none

Can you please suggest a cool name for our team? (#41)
  docs/hackathons/hawkes2024/README.md
  docs/hackathons/hawkes2024/team-hawkes2024.svg
  tests/test_data_paths.py
Due: pylint, isort, codespell

adds a Steve`s pet, Azimov as our new pet
  docs/hackathons/hawkes2024/team-hawkes2024.svg
Due: none

adds a game of pong controlled over a socket, and hopefully some working code in the ready app to send the centroid over the socket
  src/ready/apis/holoscan/ready/python/ready.py
  src/socket_pong/README.md
  src/socket_pong/pong.py
Due: pylint, black, isort, codespell

Fix some typos
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

removed pong code from repo to avoid any licensing issues
  src/socket_pong/README.md
  src/socket_pong/pong.py
Due: pylint, black, isort, codespell

renaming point_coords for `x_point_coords` #46
  docs/holoscan/apis.md
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds/tests variables for `x_coords_varing_array` and `y_coords_varing_array` in script and viz #46
  src/ready/apis/holoscan/ready/python/ready-mobious.yaml
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds details on stacking coord tensors #46
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

adds clear instructions to run api and links to download vidoe and model for the api #8
  README.md
  docs/holoscan/apis.md
Due: codespell

makes pre-commit hook happy #8
  src/ready/apis/holoscan/ready/python/ready.py
Due: pylint, isort, codespell

Path conditions:
  pylint: any of: \.py$, but not: data/.*|docs/.*|_deps/.*
  black: any of: \.py$, but not: src/ready/.*|tests/.*
  isort: any of: \.py$
  codespell: any file but: data/.*|docs/.*
